.main-container {
  padding: 0px 100px;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1200px) {
    padding: 0px 40px;
  }

  @media (max-width: 426px) {
    padding: 0px 20px;
  }
}
